/* This is styling for the font 

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');


/* This is styling for the whole file */


body, html {
    padding : 0px;
    margin : 0px;
    height : 100%;
    width: 100%;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;
    background: rgb(255, 255, 255);
} 

#wrapper {
    /* width:900px; */
    height:100%;
    margin: 0px;
    padding: 0px;
}

#header {
    height:10%;
    
}

#leftNav {
    /* background-color:orange; */
    width:9%;
    padding-left: 1%;
    height: 100%;
    float:left;
    text-align: left;
    font-size: 95%;
}   

#rightNav {
    /* background-color:blue; */
    width:10%;
    height: 100%;
    float:right;
    text-align: left;
    font-size: 90%;

}

#content {
    height:100%;
    width: 75%;
    float:left;
    padding-left: 5%;

}





/* This is just styling the header, which as of now is a title */

header {
    font-size: 200%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    text-align: center; 
    width: 100%;
    height: 10%;
    
}



/* This is styling for the left side of the page (The Filter Nav on the Left) */








.pantsCard{
    float: left; 
    width: 26%;
    padding: 2%;
    /* padding: 10px; */
}

.row:after {
    content: "";
    display: table;
    clear: both;
    
}

.pantsCard .img{
     max-width: 100%;
}


/* Styling the sorting grouping to have them a little closer to each other */
.sortGroup {
    
    padding-top: 1%;
    padding-bottom: 1%;
}

