/* This is styling for the font 

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');


/* This is styling for the whole file */


body, html {
    padding : 0px;
    margin : 0px;
    height : 100%;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;
    background: rgb(252, 252, 248);
} 

#wrapper {
    /* width:900px; */
    height:100%;
    margin: 0px;
    padding: 0px;
}

#header {
    height:10%;
    /* width:900px; */
}

#nav {
    background-color:#fff6f6;
    width:15%;
    height: 100%;
    float:left;
    text-align: left;
    
}

#content {
    height:90%;
    background-color:rgb(247, 255, 247);
    width: 85%;
    float:left;
    /* padding: 10px; */
    /* display: table; */

}





/* This is just styling the header, which as of now is a title */

header {
    font-size: 200%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    /* background-color: red; */
    text-align: center; 
    width: 100%;
    height: 10%;
    position: fixed;
    background-color: beige;
}



/* This is styling for the left side of the page (The Filter Nav on the Left) */

.leftFilter{
    /* margin-top: 10%; */
    /* height: 90%;
    top: 220; */
    padding-left: 5%;
    padding-top: 5%
}

#filterTag .leftFilter{
    font-weight: 500;

}

/* .pantsCard {
    padding:10px;
    width: 33.33%; 
} */

.pantsCard{
    float: left;
    width: 31%;
    padding: 1%;
    /* padding: 10px; */
}

.row:after {
    content: "";
    display: table;
    clear: both;
    
}

.pantsCard .img{
     max-width: 100%;
}


