/* This is styling for the font 

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900*/
 @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');


 /* This is styling for the whole file */
 
 
body, html {
    padding : 0px;
    margin : 0px;
    height : 100%;
    width: 100%;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;
    /* background: rgb(0, 0, 0); */
} 

#hamburgerMenu{
    display: none;
}

#closeButton {
    display: none;
}
 
#wrapper {
    /* width:900px; */
    height:100%;
    margin: 0px;
    padding: 0px;
}
 
#header {
    height:10%;
    
}

#header h5{
    display:none;
}
 
#leftNav {
    /* background-color:orange; */
    width:14%;
    padding-left: 1%;
    height: 100%;
    float:left;
    text-align: left;
    font-size: 95%;
}   
/*  
 #rightNav {
     width:10%;
     height: 100%;
     float:right;
     text-align: left;
     font-size: 95%;
 
} */
 
#content {
     height:100%;
     width: 80%;
     float:left;
     padding-left: 5%;
     font-size: 80%;
}
 
hr{
    display: none;
}
 
 
 
 /* This is just styling the header, which as of now is a title */
 
header {
     font-size: 200%;
     margin: 0;
     padding: 0;
     top: 0;
     left: 0;
     text-align: center; 
     width: 100%;
     height: 10%;
     font-weight:500;    
}


 
 
 
 /* This is styling for the left side of the page (The Filter Nav on the Left) */
 
 
 
 
 
 
 
 
.pantsCard{
    float: left; 
    width: 26%;
    padding: 2%;
    /* padding: 10px; */
}
 
.pantsCardIMG {
     position: relative;
     width: 100%;
     padding-bottom: 100%; /* This makes the div a square */
     /* background-color: white;  */
     overflow: hidden; 
 }
 
 .pantsCardIMG img {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     max-width: 100%;
     max-height: 100%;
     width: auto;
     height: auto;
     
 }
 
 .hoverIMG{
     opacity: 0;
 }
 
 .coverIMG:hover {
     opacity: 0;
 }
 
 .hoverIMG:hover{
     opacity: 1;
 }
 
 
 
 .row:after {
     content: "";
     display: table;
     clear: both;
     
 }
 
 .pantsCard .img{
      max-width: 100%;
 }
 
 
 /* Styling the sorting grouping to have them a little closer to each other */
 .sortGroup {
     
     padding-top: 1%;
     padding-bottom: 1%;
 }

 .sortGroupButton:hover {
    text-decoration: underline;
 }







 /* for mobile */

 @media all and (max-width: 1200px) {

    /* body, html {
        padding : 0px;
        margin : 0px;
        height : 100%;
        width: 100%;
        font-family: "Libre Franklin", sans-serif;
        font-weight: 400;
    }  */
    
    

   #content {
        height:100%;
        width: 100%;
        font-size: 70%;
        text-align: left;
        margin-top: 5%;
        padding-left: 0px;
        float:none;

    }
    
    #header{
        height: 7%;
        width: 100%;

    }


    

     /* Style for the hamburger menu */
     #hamburgerMenu {
        display: block;
        font-size: 35px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
    }

    /* Initial hidden state of the slider */
    #leftNav {
        position: fixed;
        top: 0;
        padding-top: 10%;
        left: -105%; /* Completely hides the slider off-screen */
        width: 90%;
        height: 100%;
        background-color: white; /* Set the background to white */
        transition: left 0.3s ease;
        padding-left: 10%;
        z-index: 1000; /* Ensure it is on top of other content */
        /* overflow-x: hidden; */
    }

    

    /* When the slider is visible */
    #leftNav.open {
        left: 0;
    }

    /* The close button */
    #closeButton {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 40px;
        cursor: pointer;
        color: black; /* Make the 'X' black */
    }

    


    
    
    

 

    header {
        font-size: 150%;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        /* width: 100%; */
        font-weight:500; 
        text-align: center;

   }


    hr {
        display: block;
        /* width: 100%; */
        top:0;
        left:0;
        margin: 0;
        padding: 0;
        /* overflow-x: hidden; */
    } 

    .pantsCard{
        float: left; 
        width: 48%;
        padding: 1%;
    }

    .pantsCard h3{
        margin-bottom: 10px;
        padding-left: 5%;
    }

    .pantsCard p{
        line-height: 0.5em;
        margin-top: 0;
        padding-left: 5%;
    }


    .pantsCardIMG {
        position: relative;
        width: 100%;
        padding-bottom: 100%; /* This makes the div a square */
        /* background-color: white;  */
        overflow: hidden; 
    }
    
    .pantsCardIMG img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        
    }
 }
 
 

 

 /* @media all and (max-width: 800px) {


        #hamburgerMenu{
            font-size: 35px;
        }
 } */